trigger: none
# - feature/*
# - main


# variables:
# - name: '$(System.DefaultWorkingDirectory)/env'
#   value: $(PATH)


pool: my agent pool

stages:
  - stage: 
    jobs:
      - job: 
        steps: 
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/env'
              backendAzureRmUseEntraIdForAuthentication: false
              backendServiceArm: 'todo-service-connection'
              backendAzureRmResourceGroupName: 'todo-backend-rg'
              backendAzureRmStorageAccountName: 'backendstorage001'
              backendAzureRmContainerName: 'container001'
              backendAzureRmKey: 'terraform.tfstate'
