trigger: none
# - feature/*
# - main


# variables:
# - name: '$(System.DefaultWorkingDirectory)/env'
#   value: $(PATH)


pool: my agent pool

stages:
  - stage: 
    jobs:
      - job: 
        steps: 
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env'
            backendAzureRmUseEntraIdForAuthentication: false
            backendServiceArm: 'todo-service-connection'
            backendAzureRmResourceGroupName: 'todo-backend-rg'
            backendAzureRmStorageAccountName: 'backendstorage001'
            backendAzureRmContainerName: 'container001'
            backendAzureRmKey: 'terraform.tfstate'

        - task: DownloadSecureFile@1
          name: terraformtfvars
          inputs:
            name: terraformt.fvars
            secureFile: 'terraform.tfvars'
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Copy tfvars to working directory"
              
                    $source = "$(terraform.tfvars.secureFilePath)"
                    $destination = "$(System.DefaultWorkingDirectory)/env/terraform.tfvars"
              
                    Copy-Item -Path $source -Destination $destination -Force
              
                    Write-Host "Copied successfully!"

        # - task: Bash@3
        #   inputs:
        #     targetType: 'inline'
        #     script: |
        #       echo ' copy tfvars to working directory'
        #       cp "$(terraform.tfvars.secureFilePath)" "$(System.DefaultWorkingDirectory)/env/terraform.tfvars"
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env'
            environmentServiceNameAzureRM: 'todo-service-connection'
